.custom-section {
    background-image: url(../images/wallpaper/background.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 15rem;
}

.customheader > h2 {
    font-size: 30px;
    color: white;
    letter-spacing: 2px; /* Ajuste este valor según lo desee */
}

.customheader > h1 {
    font-size: 20px;
    color: white;
    letter-spacing: 1.5px; /* Ajuste este valor según lo desee */
}

.handcraft-section {
    background-color: white;
    padding: 5rem 0;
}

.loader > span {
    color: white;
    font-weight: bolder;
}