.custom-section {
  background-image: url(../images/wallpaper/AdobeStock_637598390.jpeg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding-bottom: 15rem;
}

.handcraft-section {
    background-color: #F1F1F1;
    padding: 5rem 0;
}

.loader > span {
    color: white;
    font-weight: bolder;
}

/* Estilos para la ventana modal */
.modal {
    display: none;
    position: fixed;
    z-index: 999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
  }
  
  .modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 50%; 
    text-align: center;
    position: relative;
  }
  
  .close {
    position: absolute;
    top: 0;
    right: 0;
    padding: 10px;
    cursor: pointer;
  }
  
  /* Estilos para el botón OK */
  #modal-ok {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
  }

  .s-custom-pageheader {
   
    min-height: 174px;
    background-color: #F1F1F1; /* Este es un ejemplo de un color 'off-white' */
    background-image: none; /* Se elimina la imagen de fondo */
    position: relative;
  }

  .s-custom-pageheader--home {
    min-height: 0;
    padding-top: 100px;
 }

 .custom-row {
  width: 94%;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  align-items: center; /* This will vertically center the children within the .row */
  justify-content: center; /* This will horizontally center the children within the .row */

  /* Other styles you already have */
}

.custom-row::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: #000;
}
 

 .image-container {
  display: flex;
  align-items: center; /* Centrar verticalmente */
  justify-content: center; /* Centrar horizontalmente */
  height: 100%;
}

.image-container img {
  max-width: 100%;
  height: auto;
  padding-top:3rem;
  padding-bottom: 3rem;
}

